<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Kepston Design</title>
    <style>
        .image-thumble{
            height: 200px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="p-4">
                    <a class="navbar-brand" href="{% url 'index' %}">Hello World Group</a>
                </div>
                <div>
                    <a class="navbar-brand" href="{% url 'add_photo' %}">
                        <button type="button" class="btn btn-outline-light">Add Photo</button>
                    </a>
                    <a class="navbar-brand" href="#">
                        <button type="button" class="btn btn-outline-light">Simulation</button>
                    </a>
                    <a class="navbar-brand" href="{% url 'add_map' %}">
                        <button type="button" class="btn btn-outline-light">Map</button>
                    </a>
                    <a class="navbar-brand" href="#">
                        <button type="button" class="btn btn-outline-light">Help</button>
                    </a>
                    <a class="navbar-brand" href="#">
                        <button type="button" class="btn btn-outline-light">Log in</button>
                    </a>
                </div>
            </div>
          </nav>
    </header>
    <div class="container">
        <div class="col-md-10">
            <div class="row">
                {% for item in items %}
                <div class="col-md-4">
                    {% if item.result == 'smoke' %}
                    <div class="card my-4 outline-warning" style="width: 18rem;">
                        <img src="{{item.image.url}}" class="image-thumbail" alt="image">
                        <div class="card-body">
                            <small>Comment: {{ item.name }}</small>
                        </div>
                        <div class="card-body">
                            <small>Predict: {{ item.result }}</small>
                        </div>
                        <a href="#" class="btn btn-outline-warning btn-sm m-1">View</a>
                    </div>
                    {% else %}
                    <div class="card my-4" style="width: 18rem;">
                        <img src="{{item.image.url}}" class="image-thumbail" alt="image">
                        <div class="card-body">
                            <small>Comment: {{ item.name }}</small>
                        </div>
                        <div class="card-body">
                            <small>Predict: {{ item.result }}</small>
                        </div>
                        <a href="#" class="btn btn-outline-danger btn-sm m-1">View</a>
                    </div>
                    {%endif%}
                </div>
              
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>